workflow_origin_lvlup.json
{
  "name": "prueba_chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -60
      ],
      "id": "bf325418-f2d7-4be3-9308-46026a10bcbe",
      "name": "chat_input",
      "webhookId": "ccdff0b0-149e-44d1-8fdf-4420ec775ede",
      "notesInFlow": true,
      "notes": "Acá empieza la conversación con el Agente"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -260,
        -60
      ],
      "id": "f5f70201-9ac9-4521-b01f-c84eb10401b7",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -140,
        220
      ],
      "id": "b6b04efe-9057-4029-9f2f-6d0e096b098b",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -240,
        160
      ],
      "id": "7c1adbe7-504b-492f-b76f-ba55a9baa790",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "7IrCn4NMxizSwTU6",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{5894470102}}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "HTML",
          "reply_to_message_id": 0,
          "message_thread_id": 0
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        120,
        -60
      ],
      "id": "16339c4d-1ff7-4550-b900-8122569e2f46",
      "name": "Telegram",
      "webhookId": "a22e9c5f-dce4-41ba-afb8-c2f8db711a7a",
      "credentials": {
        "telegramApi": {
          "id": "AdFxsWT3kYd9OWlz",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "chat_input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "18416b3a-7961-47bb-a136-abb3aca7481a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05c41c0fc1fd5975bf536d075b5b7198a4dcf09c8deba9991881901f687be50e"
  },
  "id": "4ADfyyKjh2HJV0vh",
  "tags": [
    {
      "name": "Fase_1",
      "id": "WiwwelV0w6RuF6yU",
      "createdAt": "2025-02-11T15:31:14.952Z",
      "updatedAt": "2025-02-11T15:31:14.952Z"
    }
  ]
}